<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable" id="myTable">
    <thead>
      <tr>
	<th>Päiväys</th>
	<th>Nimi</th>
	<th>Etäisyys</th>
	<th>Syke keskiarvo</th>
	<th>Syke maksimi</th>
	<th>Nousu</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Pages.ByPublishDate.Reverse }}
      <tr>
	<td data-order="{{ .Date.Unix }}">{{.Date.Day}}. {{i18n .Date.Month}} {{.Date.Year}}</td>
	<td><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></td>
	<td data-order="{{ .Params.distance }}">{{ .Params.distance }} m</td>
	<td>{{ .Params.averageheartrate }}</td>
	<td>{{ .Params.maxheartrate }}</td>
	<td>{{ .Params.totalelevationgain }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
