{{ define "main" }}
<div class="container markdown top-pad">
    {{ .Content }}
</div>
<div class="container">
  {{ partial "total-year.html" . }}
      {{ if .Site.Params.home.showLatest | default true }}
      <hr/>
      <h2 class="title is-2 top-pad">{{ i18n "index_activity_latest_yoga" . }}</h2>
      {{ range first 1 .Pages.ByPublishDate.Reverse }}
      <div class="summary">
	{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default ":date_medium") }}{{ end }}
	<h3 class="title is-3 strong-post-title">
	  <a href="{{ .Permalink }}">
	    {{ .Title | markdownify }}
	  </a>
	</h3>
	<nav class="level">
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "duration" . }}</p>
	      <p class="title">{{ .Params.movingtime | duration "second" }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "average_heartrate" . }}</p>
	      <p class="title">{{ math.Round .Params.averageheartrate }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "max_heartrate" . }}</p>
	      <p class="title">{{ .Params.maxheartrate }}</p>
	    </div>
	  </div>
	</nav>
      </div>
      <div>
	{{ if .Params.startlatlng }}
	<div id="map"></div>
	<p id="map-polyline" style="display:none">{{ .Params.map.summarypolyline}}</p>
	<p id="map-start" style="display:none">[{{ index .Params.startlatlng 0}}, {{ index .Params.startlatlng 1}}]</p>
	{{ end }}
	<script>
	  {{ $idString := (printf "%v" .Params.id ) }}
	  const chartdata = {{ index $.Site.Data $idString "heartrate" }};
	</script>
	<div>
	  <canvas id="chart-heartrate"></canvas>
	</div>
      </div>
      {{ end }}
      {{ end }}
      <hr/>
      <h2 class="title is-2 top-pad">{{ i18n "index_activity_all_yoga" . }}</h2>
      {{ partial "yoga/li.html" . }}
    </div>
    {{ end }}
