{{ define "main" }}
<div class="container markdown top-pad">
    {{ .Content }}
</div>
<div class="container">
  {{ $nowUnix := now.Unix }}
  {{ $lastYear := sub $nowUnix 31556926 }}
  {{ $yearBefore := sub $lastYear 31556926 }}
  {{ $yearBeforeStart := sub $yearBefore 31556926 }}  
  {{ $thisYear := now.Year }}
  <span><h2 class="title is-2">Yhteensä edeltävän 12kk aikana </h2>({{ $lastYear | time.Format "02.01.2006" }} - {{ now | time.Format "02.01.2006" }})</span>
  <div class="summary">
    {{ $startOfYear := printf "%d-01-01 00:00:00" $thisYear }}
    <nav class="level">
      <div class="level-item has-text-centered">
	<div>
	  <p class="heading">{{ i18n "duration" . }}</p>
	  {{ $totalTimeLastYear := 0 }}
	  {{ $totalTimeYearBefore := 0 }}
	  
	  {{ $avgHeartrateLastYear := 0 }}
	  {{ $runsLastYear := 0 }}
	  {{ $avgHeartrateYearBefore := 0 }}
	  {{ $runsYearBefore := 0 }}

	  {{ $maxHeartrateLastYear := 0 }}
	  {{ $maxHeartrateYearBefore := 0 }}
	  
	  {{ range where .Site.AllPages "Params.sporttype" "Workout" }}
	      {{ if (time .Params.startdate).After (time $lastYear) }}
	          {{ $totalTimeLastYear = add $totalTimeLastYear .Params.elapsedtime }}
	          {{ $runsLastYear = add $runsLastYear 1 }}
	          {{ $avgHeartrateLastYear = add $avgHeartrateLastYear .Params.averageheartrate }}
	  	  {{ $maxHeartrateLastYear = math.Max $maxHeartrateLastYear .Params.maxheartrate }}
	      {{ else if (time .Params.startdate).After (time $yearBefore) }}
	          {{ $totalTimeYearBefore = add $totalTimeYearBefore .Params.elapsedtime }}
	          {{ $runsYearBefore = add $runsYearBefore 1 }}
	          {{ $avgHeartrateYearBefore = add $avgHeartrateYearBefore .Params.averageheartrate }}
	  	  {{ $maxHeartrateYearBefore = math.Max $maxHeartrateYearBefore .Params.maxheartrate }}
      	      {{ end }}
	  {{ end }}
	  
	  {{ $totalTimeYearBefore = div $totalTimeYearBefore 1.0 }}
	  {{ $diffPercent := div $totalTimeLastYear $totalTimeYearBefore }}
	  {{ $diffPercent := mul $diffPercent 100 }}
	  <p class="title">{{ $totalTimeLastYear | duration "second" }}
	    <span class="tag is-{{ if gt $totalTimeLastYear $totalTimeYearBefore }}success{{ else }}danger{{ end }} is-light">
	      <i style="padding-right:3px" class="fa fa-arrow-up" aria-hidden="true"></i>
	      {{ math.Round $diffPercent }}%
	    </span>
	  </p>
	</div>
      </div>
      <div class="level-item has-text-centered">
	<div>
	  <p class="heading">{{ i18n "average_heartrate" . }}</p>
	  {{ if gt $runsLastYear 0 }}
	  {{ $avgHeartrateLastYear = div $avgHeartrateLastYear $runsLastYear }}
	  {{ end }}
	  {{ if gt $runsYearBefore 0 }}
	  {{ $avgHeartrateYearBefore = div $avgHeartrateYearBefore $runsYearBefore }}
	  {{ end }}
	  <p class="title">{{ math.Round $avgHeartrateLastYear }}
	    <span class="tag is-light">
	      <i style="padding-right:3px" class="fa fa-arrow-{{ if gt $avgHeartrateLastYear $avgHeartrateYearBefore }}up{{ else }}down{{ end }}" aria-hidden="true"></i>
	      {{ $avgHeartrateDiff := sub $avgHeartrateLastYear $avgHeartrateYearBefore }}
	      {{ $avgHeartrateDiff = mul $avgHeartrateDiff 10 }}
	      {{ $avgHeartrateDiff = math.Round $avgHeartrateDiff }}
	      {{ div $avgHeartrateDiff 10 }}
	    </span>
	  </p>
	</div>
      </div>
      <div class="level-item has-text-centered">
	<div>
	  <p class="heading">{{ i18n "max_heartrate" . }}</p>
	  <p class="title">{{ $maxHeartrateLastYear }}
	    <span class="tag is-{{ if gt $maxHeartrateLastYear $maxHeartrateYearBefore }}success{{ else }}danger{{ end }} is-light">
	      <i style="padding-right:3px" class="fa fa-arrow-{{ if gt $maxHeartrateLastYear $maxHeartrateYearBefore }}up{{ else }}down{{ end }}" aria-hidden="true"></i>
	      {{ $maxHeartrateDiff := sub $maxHeartrateLastYear $maxHeartrateYearBefore }}
	      {{ $maxHeartrateDiff = mul $maxHeartrateDiff 10 }}
	      {{ $maxHeartrateDiff = math.Round $maxHeartrateDiff }}
	      {{ div $maxHeartrateDiff 10 }}
	    </span>
	  </p>
	</div>
      </div>
    </nav>


      {{ if .Site.Params.home.showLatest | default true }}
      <hr/>
      <h2 class="title is-2 top-pad">{{ i18n "index_activity_latest_workout" . }}</h2>
      {{ range first 1 .Pages.ByPublishDate.Reverse }}
      <div class="summary">
	{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default ":date_medium") }}{{ end }}
	<h3 class="title is-3 strong-post-title">
	  <a href="{{ .Permalink }}">
	    {{ .Title | markdownify }}
	  </a>
	</h3>
	<nav class="level">
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "duration" . }}</p>
	      <p class="title">{{ .Params.movingtime | duration "second" }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "average_heartrate" . }}</p>
	      <p class="title">{{ math.Round .Params.averageheartrate }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "max_heartrate" . }}</p>
	      <p class="title">{{ .Params.maxheartrate }}</p>
	    </div>
	  </div>
	</nav>
      </div>
      <div>
	{{ if .Params.startlatlng }}
	<div id="map"></div>
	<p id="map-polyline" style="display:none">{{ .Params.map.summarypolyline}}</p>
	<p id="map-start" style="display:none">[{{ index .Params.startlatlng 0}}, {{ index .Params.startlatlng 1}}]</p>
	{{ end }}
	<script>
	  {{ $idString := (printf "%v" .Params.id ) }}
	  const chartdata = {{ index $.Site.Data $idString "heartrate" }};
	</script>
	<div>
	  <canvas id="chart-heartrate"></canvas>
	</div>
      </div>
      {{ end }}
      {{ end }}
      <hr/>
      <h2 class="title is-2 top-pad">{{ i18n "index_activity_all_workout" . }}</h2>
      {{ partial "workout/li.html" . }}
    </div>
    {{ end }}
