{{ with .Site.GetPage "/activity" }}
<div class="section" id="{{ .Title | urlize }}">
  <!-- Begin activity summary container -->
  <div class="container">
    <h2 class="title is-2">Vuonna 2022</h2>
    <div class="summary">
      <hr/>
      <h3 class="title">{{ i18n "summary_run" . }}</h3>
      {{ $startOfYear := $t.Year }}
      <nav class="level">
	<div class="level-item has-text-centered">
	  <div>
	    <p class="heading">{{ i18n "duration" . }}</p>
	    {{ $totalTime := 0 }}
	    {{ range where .Pages "Params.sporttype" "Run" }}
	    {{ if (time .Params.startdate).After (time "2022-01-01 00:00:00") }}
	    {{ $totalTime = add $totalTime .Params.elapsedtime }}
	    {{ end }}
	    {{ end }}
	    <p class="title">{{ $totalTime | duration "second" }}</p>
	  </div>
	</div>
	<div class="level-item has-text-centered">
	  <div>
	    <p class="heading">{{ i18n "distance" . }}</p>
	    {{ $totalDistance := 0 }}
	    {{ range where .Pages "Params.sporttype" "Run" }}
	    {{ if (time .Params.startdate).After (time "2022-01-01 00:00:00") }}
	    {{ $totalDistance = add $totalDistance .Params.distance }}
	    {{ end }}
	    {{ end }}
	    {{ $totalDistance := div $totalDistance 1000 }}
	    <p class="title">{{ math.Round $totalDistance }} km</p>
	  </div>
	</div>
	<div class="level-item has-text-centered">
	  <div>
	    <p class="heading">{{ i18n "average_heartrate" . }}</p>
	    {{ $avgHeartrate := 0 }}
	    {{ $runs := 0 }}
	    {{ range where .Pages "Params.sporttype" "Run" }}
	    {{ if (time .Params.startdate).After (time "2022-01-01 00:00:00") }}
	    {{ $runs = add $runs 1 }}
	    {{ $avgHeartrate = add $avgHeartrate .Params.averageheartrate }}
	    {{ end }}
	    {{ end }}
	    {{ $avgHeartrate = div $avgHeartrate $runs }}
	    <p class="title">{{ math.Round $avgHeartrate }}</p>
	  </div>
	</div>
	<div class="level-item has-text-centered">
	  <div>
	    <p class="heading">{{ i18n "max_heartrate" . }}</p>
	    {{ $maxHeartrate := 0 }}
	    {{ range where .Pages "Params.sporttype" "Run" }}
	    {{ if (time .Params.startdate).After (time "2022-01-01 00:00:00") }}
	    {{ $maxHeartrate = math.Max $maxHeartrate .Params.maxheartrate }}
	    {{ end }}
	    {{ end }}
	    <p class="title">{{ $maxHeartrate }}</p>
	  </div>
	</div>
      </nav>
      <hr/>
      <h3 class="title top-pad">{{ i18n "summary_walk" . }}</h3>
      <div class="summary">
	<nav class="level">
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "duration" . }}</p>
	      {{ $totalTime := 0 }}
	      {{ range where .Pages "Params.sporttype" "Walk" }}
	      {{ $totalTime = add $totalTime .Params.elapsedtime }}
	      {{ end }}
	      <p class="title">{{ $totalTime | duration "second" }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "distance" . }}</p>
	      {{ $totalDistance := 0 }}
	      {{ range where .Pages "Params.sporttype" "Walk" }}
	      {{ $totalDistance = add $totalDistance .Params.distance }}
	      {{ end }}
	      {{ $totalDistance := div $totalDistance 1000 }}
	      <p class="title">{{ math.Round $totalDistance }} km</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "average_heartrate" . }}</p>
	      {{ $avgHeartrate := 0 }}
	      {{ $runs := 0 }}
	      {{ range where .Pages "Params.sporttype" "Walk" }}
	      {{ $runs = add $runs 1 }}
	      {{ $avgHeartrate = add $avgHeartrate .Params.averageheartrate }}
	      {{ end }}
	      {{ $avgHeartrate = div $avgHeartrate $runs }}
	      <p class="title">{{ math.Round $avgHeartrate }}</p>
	    </div>
	  </div>
	  <div class="level-item has-text-centered">
	    <div>
	      <p class="heading">{{ i18n "max_heartrate" . }}</p>
	      {{ $maxHeartrate := 0 }}
	      {{ range where .Pages "Params.sporttype" "Walk" }}
	      {{ $maxHeartrate = math.Max $maxHeartrate .Params.maxheartrate }}
	      {{ end }}
	      <p class="title">{{ $maxHeartrate }}</p>
	    </div>
	  </div>
	</nav>
      </div>
      <hr/>
      <h2 class="title top-pad">{{ i18n "summary_workout" . }}</h2>
      <div class="summary">
	<nav class="level">
	  <div class="level-item">
	    <div>
	      <p class="heading">{{ i18n "duration" . }}</p>
	      {{ $totalTime := 0 }}
	      {{ range where .Pages "Params.sporttype" "Workout" }}
	      {{ $totalTime = add $totalTime .Params.elapsedtime }}
	      {{ end }}
	      <p class="title">{{ $totalTime | duration "second" }}</p>
	    </div>
	  </div>
	  <div class="level-item">
	    <div>
	      <p class="heading">{{ i18n "average_heartrate" . }}</p>
	      {{ $avgHeartrate := 0 }}
	      {{ $runs := 0 }}
	      {{ range where .Pages "Params.sporttype" "Workout" }}
	      {{ $runs = add $runs 1 }}
	      {{ $avgHeartrate = add $avgHeartrate .Params.averageheartrate }}
	      {{ end }}
	      {{ $avgHeartrate = div $avgHeartrate $runs }}
	      <p class="title">{{ math.Round $avgHeartrate }}</p>
	    </div>
	  </div>
	  <div class="level-item">
	    <div>
	      <p class="heading">{{ i18n "max_heartrate" . }}</p>
	      {{ $maxHeartrate := 0 }}
	      {{ range where .Pages "Params.sporttype" "Workout" }}
	      {{ $maxHeartrate = math.Max $maxHeartrate .Params.maxheartrate }}
	      {{ end }}
	      <p class="title">{{ $maxHeartrate }}</p>
	    </div>
	  </div>
	</nav>
      </div>
    </div>
  </div>
{{ end }}
